// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~bootstrap/scss/bootstrap';

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;  
    }

    .post {
        margin: 1rem;
    }
}

.thumbnail {
    position: relative;
    .timeToRead {
        bottom: 10px;
        right: 10px;
        position: absolute;
    }
}

header.main-header {
    margin: 1rem 0;
}

.invalid-feedback {
    display: block;
}

